{
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "objec,t-shorthand": "off"
  }
}
